body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
}

#title {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 3rem;
  position: absolute;
  top: 0.2em;
  left: 0.4em;
  margin: 0;
  color: #e0e0e0;
}

.jellyfish-gui {
  position: absolute;
  inset: 0;
}

.jellyfish-plot-container {
  display: grid;
  place-items: center;

  position: absolute;
  inset: 0;

  overflow-x: hidden;
  overflow-y: auto;
}

.jellyfish-patient-nav {
  display: flex;
  justify-content: space-between;

  position: absolute;

  --margin: 2em;

  bottom: var(--margin);
  left: var(--margin);
  right: var(--margin);
}

.jellyfish-patient-nav > button {
  font-family: "Nerko One", cursive;
  font-weight: 400;
  font-style: normal;
  font-size: 1.2rem;

  padding: 0.5em 0.8em;
  border: none;
  border-radius: 0.5em;
  background-color: #f0f0f0;
  color: #808080;
  cursor: pointer;

  border-bottom: 1px solid #d0d0d0;

  display: flex;
  align-items: center;
  gap: 0.4em;
}

.jellyfish-patient-nav > button > svg {
  height: 0.7em;
}

.jellyfish-patient-nav > button:hover {
  background-color: #e8e8e8;
}

.jellyfish-gui .lil-gui {
  --background-color: #f3f3f3;
  --text-color: #3d3d3d;
  --title-background-color: #e0e0e0;
  --title-text-color: #3d3d3d;
  --widget-color: #e3e3e3;
  --hover-color: #d8d8d8;
  --focus-color: #fafafa;
  --number-color: #0d8eab;
  --string-color: #738500;
}

.jellyfish-gui .lil-gui.root {
  position: absolute;
  right: 2em;
}

.jellyfish-error-message {
  color: #bb0000;
}

@media print {
  .lil-gui.root,
  .jellyfish-patient-nav,
  #title {
    display: none;
  }
}
